

<h1>Create Civil Project</h1>

<%= form_with(model: @createData, url: civil_project_path, method: :post) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, required: true %>
  </div>

  <div>
    <%= form.label :image_path %>
    <%= form.text_field :image_path %>
  </div>

  <div>
    <%= form.label :video_path %>
    <%= form.text_field :video_path %>
  </div>

  <div class="actions">
    <%= form.submit "Create Project" %>
  </div>
<% end %>
